# non committare node modules
node_modules/
# non committare sync content
*/config/*
./client/sync/*
./client/sync2/*
!sync/.gitkeep
# non committare file con le seguenti estensioni
*.txt
*.pdf
*.ppt
*.c
*.zip
*.chk
*.php
*.out
*.mp4
*.jpg
