<div class="container" id="login">

    <div class="row mt-5">
      <img src="remote-icon.png" class="mx-auto d-block" alt="remote icon" width="100" height="100">
    </div>

    <p class="text-center mt-4 font-weight-bold">Login to RemoteBackup</p>


    <form class="offset-2 col-8">
      <div class="form-group">
        <input type="text" class="form-control" id="username" aria-describedby="emailHelp" placeholder="Username...">
      </div>
      <div class="form-group">
        <input type="password" class="form-control" id="password">
      </div>
      <button type="button" class="btn btn-primary btn-block" id="signin-btn">Login</button>
    </form>

    <div class="row mt-3 ">
      <a href="#" class="col-12 text-center">Password dimenticata?</a>
      <a href="#" class="col-12 text-center mt-2" id="registrati">Registrati</a>
    </div>

    <div class="alert alert-danger error" role="alert" style="display: none;">

    </div>