@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);
    }
}

.btn-img {
    border-style: solid;
    border-color: black;
    border-radius: 15px;
    margin-left: 5px;
}

/* Selects any invalid <input> */
input:invalid {
    background-color: pink;
  }